In [11]:
import pandas as pd
import numpy as np

In [12]:
fpath = ("Sample_data.csv")

In [14]:
data = pd.read_csv(r"G:Sample_data.csv")

In [15]:
data

    Unnamed: 0  ProductA  ProductB
0            0        25        40
1            1        30        35
2            2        28        38
3            3        32        41
4            4        26        37
5            5        29        36
6            6        27        39
7            7        33        42
8            8        31        38
9            9        28        37
10          10        30        40
11          11        29        36

 1) Calculate the mean sales for Product A and Product B. Compare the average monthly sales for the two products and discuss any observed trends.

In [18]:
data.mean()

Unnamed: 0     5.50
ProductA      29.00
ProductB      38.25
dtype: float64

## The comparison indicates that product B has a consistently higher average monthly sales figure compared to product A.

2) Find the median sales for each product and discuss how it reflects the central tendency of the sales distribution.

In [19]:
data.median()

Unnamed: 0     5.5
ProductA      29.0
ProductB      38.0
dtype: float64

- In conclusion, while both products demonstrate a relatively balanced sales distribution around their respective medians, the difference in the median values implies that Product B generally achieves higher sales figures than Product A in the observed data.

3) Identify the mode of the sales data for both Product A and Product B. Discuss the significance of the mode in the context of these products.

In [22]:
data.mode()

    Unnamed: 0  ProductA  ProductB
0            0      28.0      36.0
1            1      29.0      37.0
2            2      30.0      38.0
3            3       NaN      40.0
4            4       NaN       NaN
5            5       NaN       NaN
6            6       NaN       NaN
7            7       NaN       NaN
8            8       NaN       NaN
9            9       NaN       NaN
10          10       NaN       NaN
11          11       NaN       NaN

- The presence of multiple modes (28,29, and 30) suggests that there are more than one commonly occurring sales figure for Product A.
- Similar to Product A, Product B also has multiple modes (36, 37, 38, and 40), indicating different sales figures that occur frequently.

# 4) Calculate the weighted mean of the sales data, assuming each month has an equal weight. Discuss any implications of using weighted mean in this context.

In [27]:
weighted_mean_productA = data["ProductA"].mean()
weighted_mean_productB = data["ProductB"].mean()

print('weighted mean for productA:', weighted_mean_productA)
print('weighted mean for productB:', weighted_mean_productB)

weighted mean for productA: 29.0
weighted mean for productB: 38.25

- These calculated values represent the weighted mean sales for Product A and Product B, assuming equal weights for each month.

## Measures of Dispersion:

### 1) Compute the range of monthly sales for both Product A and Product B. Discuss how the range provides insights into the variability of sales.

Calculation of Range:
For Product A:

Maximum value: 33
Minimum value: 25
Range for Product A = Maximum value - Minimum value = 
33
−
25
=
8



For Product B:

Maximum value: 42
Minimum value: 35
Range for Product B = Maximum value - Minimum value = 
42
−
35
=
7

In [41]:
x =data['ProductA'].max() - data['ProductA'].min()
y =data['ProductB'].max() - data['ProductB'].min()

print(f"Range of monthly sales for Product A:{x}")
print(f"Range of monthly sales for Product B:{y}")

Range of monthly sales for Product A:8
Range of monthly sales for Product B:7

### 2)Calculate the variance of the sales data for both products. Discuss what the variance reveals about the spread of sales for each product.

In [36]:
x = data["ProductA"].var()
y = data["ProductB"].var()

print(f"Variance for Product A: {x}")
print(f"Variance for Product B: {y}")

Variance for Product A: 5.636363636363637
Variance for Product B: 4.75

#### function .var():-
- The .var() function in pandas is used to compute the variance of numerical data within a pandas DataFrame or Series.
- So, in simple terms, the .var() function calculates how much your numbers vary from the average, giving you an idea of how spread out your data is.

## 3) Determine the standard deviation of the sales for Product A and Product B. Discuss the significance of standard deviation in understanding the variability in sales.

In [38]:
data.std()

Unnamed: 0    3.605551
ProductA      2.374103
ProductB      2.179449
dtype: float64

# Relative Measures of Dispersion:

### 1) Calculate the coefficient of variation for the sales data of Product A. Discuss how this relative measure of dispersion helps in comparing the variability of products with different average sales.

In [39]:
standard_devation = 2.374103
mean_ProductA = 29
cofficient_variation = (standard_devation / mean_ProductA) * 100
print(cofficient_variation)

8.186562068965516

-  This coefficient helps in understanding the relative variability of Product A's sales figures compared to its mean.
- A higher coefficient of variation indicates higher relative variability, while a lower coefficient of variation suggests lower relative variability.

## 2)Compute the relative range for Product B. Discuss how the relative range accounts for the scale of the sales data.

In [48]:
mean = 38.25
Range_ProductB =(y / mean) * 100
print(Range_ProductB)

18.30065359477124

- This conversion to a percentage helps in better interpretation and comparison, especially when communicating the variability relative to the mean in a more standardized manner.
- A lower relative range suggests that the variation in sales figures, as indicated by the range, is relatively smaller compared to the average sales value.

## 3)Determine the relative standard deviation for Product A. Interpret the result and discuss its implications for understanding the variability relative to the mean

In [49]:
standard_devation = 2.374103
mean = 29
realtive_standard_devation = (standard_devation / mean) * 100
print(f"relative standard deviation for Product A:{realtive_standard_devation}")

relative standard deviation for Product A:8.186562068965516

- Understanding the variability relative to the mean involves assessing how much the data points in a dataset deviate or spread out from the average value (the mean) of that dataset.